.active {
  color: green;
}

.jumbotron {
  background-image: url("http://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/field/image/site-photo.jpg");
  background-color: white;
  margin-bottom: 0;
  min-height: 40%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.jumboText {
  color: white;
  font-size: 2em;
}

p {
  font-size: 30px;
}

.listElement {
/*  border-style: solid;
  border-width: 1px;*/
  margin-top: 20px;
}

.space {
  margin-top: 30px;
}

.center-cropped {
  width: 100%;
  height: 170px;
  background-position: center center;
  background-size: contain !important;
  background-repeat: no-repeat;
}

a {
  text-decoration: none !important;
}

.price {
  font-weight: 700 !important;
  margin-right: 5px;
}

.navbar-right {
  margin-right: 15px !important;
}

.navb {
  font-size: 20px !important;
}

.priceAndTitle {
  color: black !important;
}

.center-cropped-tour {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-size: contain !important;
  background-repeat: no-repeat;
}

p {
  white-space: normal !important;
}






